.navbar {
    height: 50px;
    background-color: black;
    font-size: 125%;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.menu {
    color: #22d6b5;
    height: 70px;
}

#register-form{
    font-size: 80%;
    padding: 20px;
}

.full-box{

}

.ola {
    background-color: #22d6b5;
    color: black;
    height: 150px;
    font-size: 150%;
}

.cadastro {
    background-color: #D6A913;
    height: 500px;
    width: 500px;
    float: right;
    margin: 40px;
}

.cadastrar {
    background-color: #22d6b5;
    color: black;
    height: 50px;
    text-align: center;
}

#register-form{
    

}

.logar {
    background-color: #D6A913;
    color: black;
    height: 50px;
}

.login {
    background-color: #22d6b5;
    height: 50px;
    width: 500px;
    float: right;
    margin-right: 40px;
}

.fazerLogin {
    background-color: #86128A;
    height: 400px;
    width: 500px;
    float: right;
    margin: 40px;
}

.clear {
    clear: both;
}

.fundoPretoLogin {
    color: #86128A;
    height: 110px;
    float: left;
    font-size: 300%;
    text-align: left;
    margin: 40px;
}

.fundoPretoCadastro {
    color: #22d6b5;
    height: 110px;
    float: left;
    font-size: 300%;
    text-align: left;
    margin: 40px;
}

.fundoAzul {
    background-color: #22d6b5;
    color: black;
    height: 110px;
}

.fundoAmarelo {
    background-color: #D6A913;
    color: black;
}