body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100 px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
}

.cabecalho {
    background-color: #D6A913;
    width: 100%;
    height: 50%;
    float: left;
    padding: 0 auto;
}

.logo {
    float: left;
    margin-top: 0 auto;
}

.navbar {
    height: 50px;
    background-color: black;
    font-size: 125%;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.menu {
    color: #22d6b5;
    height: 70px;
}

/*formulario*/

#register-form {
    font-size: 80%;
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastrar {
    background-color: #22d6b5;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.cadastro {
    background-color: #D6A913;
    height: 300px;
    width: 400px;
    float: right;
    margin: 80px;
}

.login {
    background-color: #22d6b5;
    height: 50px;
    width: 400px;
    float: right;
    margin-top: 70px;
}

.full-box {}

.ola {
    background-color: #22d6b5;
    color: black;
    height: 150px;
    font-size: 150%;
}

.logar {
    background-color: #D6A913;
    color: black;
    height: 50px;
}

.fazerLogin {
    background-color: #86128A;
    height: 400px;
    width: 500px;
    float: right;
    margin: 40px;
}

.clear {
    clear: both;
}

.fundoPretoLogin {
    color: #86128A;
    height: 110px;
    float: left;
    font-size: 300%;
    text-align: left;
    margin: 40px;
}

.fundoPretoCadastro {
    color: #22d6b5;
    height: 110px;
    float: left;
    font-size: 300%;
    text-align: left;
    margin: 40px;
}

.fundoAzul {
    background-color: #22d6b5;
    color: black;
    height: 110px;
}

.fundoAmarelo {
    background-color: #D6A913;
    color: black;
}